@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to my about page!!</p>
<p>This project serves as a simple demonstration of ASP.NET with Razor Pages</p>


